<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">x</a>
    <%= msg %>
  </div>
<% end %>

<%= simple_form_for @candidate, :html => { :class => 'form-horizontal'} do |f| %>

  <%= f.hint 'Upload a resume (Doc, Docx, PDF, Txt formats supported)', class: "control-group controls" %>
  <%= f.file_field :resume, class: "controls", label: "Resume"  %>
  
  <br><br>
  <%= f.label :resume %><div class="controls"><%= resume_name %>
  <%= f.full_error :resume, class: "alert" %>
  </div>

  <div class="controls"><%= f.check_box :remove_resume %> Remove resume </div><br><br>
  
  <%= f.input :name %>
  <%= f.input :email, :required => false %>
  <%= f.input :phone %>
  <%= f.input :position %>

  <%= f.button :submit, 'Submit', class: "control-group controls" %>

<% end %>


