<%= simple_nested_form_for @candidate, html: {multipart: true, class: "form-horizontal" } do |f| %>

    <%= f.fields_for :resume, html: {class: "control-group"} do |resume_form| %>
    
      <% if resume_form.object.file? %>
        <div class="controls">
          <%= resume_form.object.file.url.split("/").last %>      
          <%= resume_form.link_to_remove "Remove this file" %><br><br> 
        </div>
        <% else %>
        <div class="controls">
          <%= resume_form.file_field :file, label: "Resume" if resume_form.object.file %>
        </div>
      <% end %>

    <% end %> 
  
  <%= f.link_to_add "Add resume", :resume, class: "controls" %>
  

  <%= f.input :name %>
  <%= f.input :email, :required => false %>
  <%= f.input :phone %>
  <%= f.input :position %>
  <%= f.input :cover_letter %>

  <%= f.button :submit, 'Submit', class: "btn-primary controls" %>

  <!-- <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %> create custom link-->

<% end %>