<%= simple_nested_form_for @candidate, remote: true, html: {multipart: true, class: "form-horizontal" } do |f| %>

    <%= f.fields_for :resume, html: {class: "control-group"} do |resume_form| %>
      
      <% if resume_form.object.file? %>
        <div class="controls" id="resume">
          <%= resume_form.object.file.url.split("/").last %>      
          <%= link_to "Remove this file", candidate_resume_path(@candidate), method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
          <br><br> 
        </div>        
      <% end %>
    <% end %> 

  <%= f.input :name %>
  <%= f.input :email, :required => false %>
  <%= f.input :phone %>
  <%= f.input :position %>
  <%= f.input :cover_letter %>

  <%= f.button :submit, 'Submit', class: "btn-primary controls" %>

<% end %>