<dl class="dl-horizontal">
    <dt>Resume</dt>
    <dd><%= link_to @candidate.resume.filename, @candidate.resume.file_url if @candidate.resume %></dd>
    <dt>Name</dt>
    <dd><%= @candidate.name %></dd>
    <dt>Email</dt>
    <dd><%= @candidate.email %></dd>
    <dt>Phone</dt>
    <dd><%= @candidate.phone %></dd>
    <dt>Position</dt>
    <dd><%= @candidate.position %></dd>
    <dt>Cover Letter</dt>
    <dd><%= @candidate.cover_letter %></dd>  
</dl>   

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              candidates_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_candidate_path(@candidate), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              candidate_path(@candidate),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
